[Unit]
Description=KnowVec API V2
After=network.target

[Service]
Type=simple
User=ranjith
WorkingDirectory=/home/ranjith/workspaces/KnowVec/KnowVev
Environment="PATH=/home/ranjith/workspaces/KnowVec/KnowVev/know_venv/bin"
ExecStart=/home/ranjith/workspaces/KnowVec/KnowVev/know_venv/bin/python api_v2.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
